:root{
    $bg-color: #0c3b2e;
    $font-color: #f0f0f0;
    $button-color: #6d9773;
    $icon-color: #ffba00;
}
body{
    // background-image: linear-gradient(#760933, #ebc37f);
    background-color: $bg-color;
    color: $font-color;

}

.App{ 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 